# -*-mode:gitignore-*- vim:ft=gitignore

# ~/.local/share/chezmoi/.gitignore
# =============================================================================
# Used by Git to determine the files and directories to ignore in this project.
#
# This list of globs defines repository-specific exclusions.
# See https://git-scm.com/docs/gitignore

*.gz
dot_bash-it
dot_config/powershell/Modules
dot_oh-my-zsh
