{{ if eq .chezmoi.os "windows" -}}
:: -*-mode:bat-*- vim:ft=bat
@echo off

::
:: ~/.local/share/chezmoi/run_hyper.bat: runs after `chezmoi apply`.
::
:: Copies Hyper configuration file to final destination on Windows.
::

set SRCFILE=%USERPROFILE%\.hyper.js
set DESTFILE=%APPDATA%\Hyper\.hyper.js

:: Skip if application has not been installed.
FOR %%A in (%DESTFILE%) do (
    IF NOT EXIST %%~pA (
        exit 0
    )
)

:: Skip if destination is a symbolic link.
dir %DESTFILE% | find "<SYMLINK>" > nul
IF %errorlevel% == 0 (
    exit 0
)

:: Skip if configuration files are identical.
fc /b %SRCFILE% %DESTFILE% > nul
IF %errorlevel% == 0 (
    exit 0
)

:: Copy source file to destination.
xcopy /fvy %SRCFILE% %DESTFILE%*
{{- end }}
